.leaflet-container {
    width: 70%;
    height: 500px;
}

#map { height: 500px; }

.popup {
    width: auto !important;
}



.popup-fuel-container {
    margin-right: 1em;
    width: max-content;
}

.popup-schedule-container {
    width: 50%;
}
