.App {
  text-align: center;
}

.logo {
  margin: 10px;
}

.body {
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
  align-items: center;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
